<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="BAKERY" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">

                        <li>
                            <a href="index.html">
                                <i class="fas fa-table"></i>Stores</a>
                        </li>
                        <li>
                            <a href="index.html">
                                <i class="fas fa-table"></i>Products</a>
                        </li>
                        <li>
                            <a href="users/index.html">
                                <i class="fas fa-table"></i>Users</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="index.html">
                    <img src="images/icon/logo.png" alt="BAKERY" />
                </a>
            </div>
            <div id="navigator">



            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container"  id="container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="form-header">
                                <input v-model = "searchKeyword" class="au-input au-input--xl" type="text" name="search" placeholder="Tìm kiếm người dùng, sản phẩm, đơn hàng..." />
                                <button @click="searchOrder()" class="au-btn--submit" type="button">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>
                            <form  action="" method="POST">

                            </form>
                            <div class="header-button" id="header-button">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Thông tin đơn hàng</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--sm">
                                            <select class="custom-select" v-model="typeDate" name="time">
                                                <option value="3" >Tất cả</option>
                                                <option value="0" >Hôm nay</option>
                                                <option value="1">1 tuần</option>
                                                <option value="2">1 tháng</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button class="au-btn-filter">
                                            <button v-on:click="onFilterOrder" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                <i class="zmdi zmdi-plus"></i>Lọc</button>
                                    </div>
                                    
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2" id="data-order">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                <th>Id</th>
                                                <th>Ngày đặt hàng</th>
                                                <th>Chú thích</th>
                                                <th>Tên khách hàng</th>
                                                <th>Số điện thoại</th>
                                                <th>Hình thức giao hàng</th>
                                                <th>Hình thức thanh toán</th>
                                                <th>Tổng tiền đơn hàng</th>
                                                <th>Trạng thái</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody id="containerProduct">
                                            <tr class="tr-shadow" v-for="(order, index) in ordersList" :key="index">
                                                <td>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>{{ order.id }}</td>
                                                <td>
                                                    <span class="block-email">{{ order.dateOrder }}</span>
                                                </td>
                                                <td class="desc">{{ order.description }}</td>
                                                <td>{{ order.fullName }}</td>
                                                <td>{{ order.phoneNumber }}</td>
                                                <td>{{ order.shipMethod }}</td>
                                                <td>{{ order.payMethod }}</td>    
                                                <td>{{ doFormatMoney(order.totalAmount)}}</td>    
                                                <td>{{ order.status }}</td>                                               
                                                
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button id="3" class="item containerProcess" v-on:click="onClickOrder(order)" data-toggle="tooltip" data-placement="top" title="details">
                                                            <i class="zmdi zmdi-plus-circle"></i>
                                                        </button>
                                                        <!-- <button id="3" class="item containerProcess"  v-on:click="onDeleteOrder(order)" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center mt-2">
                                    <h3 v-if="ordersList.length === 0">
                                        Không tìm thấy đơn hàng nào!
                                    </h3>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

<script type="text/javascript" src="main.js"></script>
    <!-- Main JS-->
    <script src="js/main.js"></script>

<!-- custome-->

    <script type="text/javascript" src="js/sweetalert2.js"></script>
    <script type="text/javascript" src="js/sweetalert2@9.js"></script>
    <script type="text/javascript" src="js/blockUI.js"></script>
    <script type="text/javascript" src="js/constant.js"></script>

    <script type="text/javascript" src="orders/orders.js"></script>

</body>

</html>
<!-- end document-->
