.card-view {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card-view:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container-card {
    padding: 10px 20px;
    width: 80%;
  }
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  .error {
    color: red;
}